<ng-container>

  <h2>Post List</h2>

  <mat-card>
    <button mat-raised-button class="btnAction" (click)="addRow()">
      <mat-icon aria-hidden="false" aria-label="icon plus">add</mat-icon>
      Add
    </button>
    <button mat-raised-button class="btnAction" (click)="deleteRow()">
      <mat-icon aria-hidden="false" aria-label="icon delete">delete</mat-icon>
      Delete
    </button>
    <button mat-raised-button class="btnAction" (click)="updateRow()">
      <mat-icon aria-hidden="false" aria-label="icon edit">edit</mat-icon>
      Update
    </button>
  </mat-card>

  <mat-card *ngIf="addForm">

    <form  [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter the tiltle post" autocomplete="off"
             formControlName="title" id="title" name="title">
        <mat-error *ngIf="postForm.hasError('required','title')">
          This field is required
        </mat-error>
        <mat-error *ngIf="postForm.hasError('minLength','title')">
          This field must be longer than 5 characters
        </mat-error>
      </mat-form-field>

      <mat-divider [vertical]="true"></mat-divider>

      <mat-form-field appearance="fill">
        <mat-label>Body</mat-label>
        <textarea rows="3" matInput placeholder="Enter the body post"
                    formControlName="body" id="body" name="title"></textarea>
        <mat-error *ngIf="postForm.hasError('required','body')">
          This field is required
        </mat-error>
        <mat-error *ngIf="postForm.hasError('minLength','body')">
          This field must be longer than 5 characters
        </mat-error>
      </mat-form-field>

      <mat-divider [vertical]="true" ></mat-divider>
      <mat-divider [vertical]="true" ></mat-divider>

      <button type="submit" [disabled]="!postForm.valid" mat-raised-button color="primary" class="btnAction">
        <mat-icon aria-hidden="false" aria-label="icon save">check</mat-icon>
        Save
      </button>

      <button mat-button color="primary" (click)="closeForm()">
        Cancel
      </button>

    </form>
  </mat-card>

  <mat-card>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" autocomplete="off" #input>
    </mat-form-field>
  </mat-card>

  <div class="mat-elevation-z8">

    <mat-table class="post-table" [dataSource]="dataSource" matSort matSortStart="asc">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef>User Id</mat-header-cell>
        <mat-cell *matCellDef="let post">{{post.userId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell class="id-cell"
                  *matCellDef="let post">{{post.id}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
        <mat-cell class="title-cell"
                  *matCellDef="let post">{{post.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="body">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Body</mat-header-cell>
        <mat-cell class="bodt-cell"
                  *matCellDef="let post">{{post.body}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</ng-container>


